
body {
  background-color: #e5dfdf;
}

h1 {
  color: #357376;
}

h3 {
  color: #6ba8a9;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
